<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <center>
            <h1>Home Page</h1>
            
            <br><hr><br><br>

            <a href='/user/signup_page'>User Registration</a> &nbsp; &nbsp; &nbsp;
            <a href='/user/login_page'>User Login</a> &nbsp; &nbsp; &nbsp;
       
        </center>
    </body>
</html>